.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-button {
  border: solid;
  border-radius: 50px;
  margin-right: 10px;
  background-color: #99ccff; /* Example default color */
  color: white; /* Example default text color */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  width: 100px;
}

.custom-button:hover {
  background-color: #7aa3cc; /* Change to the desired color */
  color: #ffffff; /* Change text color if necessary */
}

.custom-footer-paragraph {
  width: 25%;
}